<h3>{{event.name}} ({{event.division}}) <small>{{tournament.name}}</small></h3>
<table class="table table-striped table-bordered table-vertically-centered">
	<thead>
		<tr>
			<th>#</th>
			<th>Team Name (State)</th>
			<th>Score Code</th>
			<th>Raw Score</th>
			<th>Tier</th>
			<th>Tie Break</th>
			<th>Place</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="participator in participators|orderBy:team.number">
			<td>{{participator.team.number}}</td>
			<td>{{participator.team.name}} ({{participator.team.state}})</td>
			<td><select class="form-control" ng-model="participator.scoreCode" ng-change="updateRankings()" ng-options="code for code in scoreCodes"></select></td>
			<td><input type="text" class="form-control" ng-model="participator.score" ng-change="updateRankings()" ng-disabled="participator.scoreCode != 'participated'" /></td>
			<td><select class="form-control" ng-model="participator.tier" ng-change="updateRankings()" ng-options="tier for tier in tiers" ng-disabled="participator.scoreCode != 'participated'"></select></td>
			<td><input type="text" class="form-control" ng-model="participator.tiebreak" ng-change="updateRankings()"  ng-disabled="participator.scoreCode != 'participated'" /></td>
			<td>{{participator.place}}</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" ng-click="saveScores()">Update Scores</button>