<h3 class="pull-left">
	<span class="status-icon" ng-switch on="event.status">
		<i tooltip="Scoring Completed" ng-switch-when="Completed" class="fa fa-check-circle-o text-success smaller"></i>
		<i tooltip="Scoring In Progress" ng-switch-when="In Progress" class="fa fa-clock-o text-warning smaller"></i>
		<i tooltip="Scoring Not Started" ng-switch-when="Not Started" class="fa fa-times-circle-o text-danger smaller"></i>
	</span>
	{{event.eventName}} ({{event.division}}) <a href="/tournament/{{tournament.id}}/dashboard"><small>{{tournament.name}}</small></a>
</h3>
<div class="pull-right form-inline h3-margin">
	<label class="medium-right-pad">Score Order</label>
	<div class="form-group">
		<select ng-model="event.highScoreWins" class="form-control input-sm" ng-change="updateScoreOrder()">
			<option value="1">High Score Wins</option>
			<option value="0">Low Score Wins</option>
		</select>
	</div>
	<div class="form-group">
		<select ng-model="event.highTiebreakWins" class="form-control input-sm" ng-change="updateScoreOrder()">
			<option value="1">High Tiebreak Wins</option>
			<option value="0">Low Tiebreak Wins</option>
		</select>
	</div>
</div>
<table class="scoring-table table table-striped table-bordered table-vertically-centered">
	<thead>
		<tr>
			<th>#</th>
			<th>Team Name (State)</th>
			<th>Raw Score</th>
			<th>Tier</th>
			<th>Tie Break</th>
			<th>Place</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="participator in participators|orderBy:team.number">
			<td>{{participator.team.number}}</td>
			<td>{{participator.team.name}} ({{participator.team.state}})</td>
			<td class="no-pad"><input type="text" class="form-control clear" ng-model="participator.rawDisplay" ng-change="updateRankings($index)" ng-pattern="/([Pp])|([Dd][Qq])|([Nn][Ss])|([0-9]*(\.[0-9]*)?)/" cell-navigation row="$index" col="'0'" row-count="participators.length" col-count="'3'" focus-cell="focusCell" /></td>
			<td class="no-pad"><input type="text" class="form-control clear" ng-model="participator.tier" ng-change="updateRankings($index)" ng-pattern="/[0-9]*(\.[0-9]*)?/" cell-navigation row="$index" col="'1'" row-count="participators.length" col-count="'3'" focus-cell="focusCell" /></td>
			<td class="no-pad"><input type="text" class="form-control clear" ng-model="participator.tiebreak" ng-change="updateRankings($index)" ng-pattern="/[0-9]*(\.[0-9]*)?/" cell-navigation row="$index" col="'2'" row-count="participators.length" col-count="'3'" focus-cell="focusCell" /></td>
			<td ng-class="{ 'ng-invalid': participator.rankConflict }">{{participator.place}}</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" ng-click="saveScores()">Save Scores</button>