.no-display {
	display: none;
}

.middle {
	vertical-align: middle;
}

.smaller {
	font-size: 0.8em;
}

.larger {
	font-size: 1.25em;
}

.small-right-pad {
	padding-right: 3px;
}

.small-left-pad {
	padding-left: 3px;
}