<h3>{{official.name_first + ' ' + official.name_last}} 
	<button class="btn btn-danger pull-right" ng-click="removeOfficial()">Delete</button>
	<button class="btn btn-default pull-right" ng-click="editOfficial()">Edit</button>
</h3>
<strong>Email:</strong> {{official.email}}<br/>
<strong>Phone:</strong> {{official.phone}}<br/>
<div>
	<div>
		<h4>Coached Teams</h4>
		<h4 ng-show="coachedTeams.length == 0"><small>There are no coached teams.</small></h4>
		<table class="table table-striped table-hover" ng-show="coachedTeams.length > 0">
			<tr>
				<th>Tournament</th>
				<th>Name</th>
				<th>Division</th>
				<th>Number</th>
				<th>School</th>
				<th>State</th>
			</tr>
			<tr ng-repeat='t in coachedTeams' ng-click="followPath('/tournament/' + t.tournamentID + '/dashboard')">
				<td>{{t.tournamentName}}</td>
				<td>{{t.name}}</td>
				<td>{{t.division}}</td>
				<td>{{t.number}}</td>
				<td>{{t.school}}</td>
				<td>{{t.state}}</td>
			</tr>
		</table>
		<div class="col-md-6">
			<h4>Written Events</h4>
			<h4 ng-show="writtenEvents.length == 0"><small>There are no written events.</small></h4>
			<table class="table table-striped table-hover" ng-show="writtenEvents.length > 0">
				<tr>
					<th>Tournament</th>
					<th>Event Name</th>
					<th>Division</th>
				</tr>
				<tr ng-repeat='e in writtenEvents' ng-click="followPath('/tournament/' + e.tournamentID + '/scoring/' + e.division + '/' + e.eventName)">
					<td>{{e.tournamentName}}</td>
					<td>{{e.eventName}}</td>
					<td>{{e.division}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<h4>Supervised Events</h4>
			<h4 ng-show="supervisedEvents.length == 0"><small>There are no supervised events.</small></h4>
			<table class="table table-striped table-hover" ng-show="supervisedEvents.length > 0">
				<tr>
					<th>Tournament</th>
					<th>Event Name</th>
					<th>Division</th>
				</tr>
				<tr ng-repeat='e in supervisedEvents' ng-click="followPath('/tournament/' + e.tournamentID + '/scoring/' + e.division + '/' + e.eventName)">
					<td>{{e.tournamentName}}</td>
					<td>{{e.eventName}}</td>
					<td>{{e.division}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>