<h3>{{official.name_first + ' ' + official.name_last}}</h3>
<div>
	<div>
		<h4>Teams coached by {{official.name_first + ' ' + official.name_last}}</h4>
		<table class="table table-striped">
			<tr>
				<th>Tournament</th>
				<th>Name</th>
				<th>Division</th>
				<th>Number</th>
				<th>School</th>
				<th>State</th>
			</tr>
			<tr ng-repeat='t in coachedTeams'>
				<td>{{t.tournamentName}}</td>
				<td>{{t.name}}</td>
				<td>{{t.division}}</td>
				<td>{{t.number}}</td>
				<td>{{t.school}}</td>
				<td>{{t.state}}</td>
			</tr>
		</table>
	</div>
	<div>
		<h4>Events written by {{official.name_first + ' ' + official.name_last}}</h4>
		<table class="table table-striped">
			<tr>
				<th>Tournament</th>
				<th>Event Name</th>
				<th>Division</th>
			</tr>
			<tr ng-repeat='e in writtenEvents'>
				<td>{{e.tournamentName}}</td>
				<td>{{e.name}}</td>
				<td>{{e.division}}</td>
			</tr>
		</table>
	</div>
	<div>
		<h4>Events supervised by {{official.name_first + ' ' + official.name_last}}</h4>
		<table class="table table-striped">
			<tr>
				<th>Tournament</th>
				<th>Event Name</th>
				<th>Division</th>
			</tr>
			<tr ng-repeat='e in supervisedEvents'>
				<td>{{e.tournamentName}}</td>
				<td>{{e.name}}</td>
				<td>{{e.division}}</td>
			</tr>
		</table>
	</div>
</div>