<form class="tournament-form">
	<div class="form-row">
		<div class="form-label">Date</div>
		<div class="form-entry form-horizontal">
			<input type="text" class="form-control" datepicker-popup="MMM dd, yyyy" show-weeks="false" ng-model="date" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-label">Location</div>
		<div class="form-entry form-horizontal">
			<input type="text" class="form-control" ng-model="location" />
		</div>
	</div>
	<div class="form-row">
		<div class="form-label">Level</div>
		<div class="form-entry">
			<button class="btn" ng-click="create()">Create</button>
		</div>
	</div>
</form>