<h3>Create a Tournament</h3>
<form class="tournament-form">
	<div class="form-row">
		<div class="form-label">Name</div>
		<div class="form-entry">
			<input class="form-control" type="text" ng-model="form.name" />
		</div>
	</div>
	<div class="form-group">
		<label for="new-tournament-date">Date</label>
		<div class="input-group" ng-init="open = false;">
			<input id="new-tournament-date" type="text" class="form-control" datepicker-popup="MMM dd, yyyy" is-open="open" show-weeks="false" ng-model="form.date" ng-focus="open = true" ng-blur="open = false" />
			<span class="input-group-addon" ng-click="open = !open;"><i class="fa fa-calendar"></i></span>
		</div>
	</div>
	<div class="form-row">
		<div class="form-label">Location</div>
		<div class="form-entry">
			<input type="text" class="form-control" ng-model="form.location" />
		</div>
	</div>
	<div class="form-group">
		<label for="new-tournament-type">Type</label>
		<select id="new-tournament-type" ng-model="form.type" required ng-options="label for label in types" class="form-control"></select>
	</div>
	<button class="btn btn-primary" ng-click="createTournament()">Create</button>
</form>