<h1>Change Settings</h1>
<form class="account-form">
	<div class="form-group">
		<label for="new-account-password">New Password</label>
		<input id="new-account-password" class="form-control input-lg" type="password" ng-model="form.newPassword" \>
	</div>

	<div class="form-group">
		<label for="new-account-password">Re-enter New Password</label>
		<input id="new-account-password2" class="form-control input-lg" type="password" ng-model="form.newPasswordReentered" \>
	</div>

	<div class="form-group">
		<label for="new-account-email">New Email</label>
		<input id="new-account-email" class="form-control input-lg" type="text" ng-model="form.newEmail" \>
	</div>

	<div class="form-group">
		<label for="new-account-email">Re-enter New Email</label>
		<input id="new-account-email2" class="form-control input-lg" type="text" ng-model="form.newEmailReentered" \>
	</div>

	<div class="form-group">
		<button class="btn btn-primary form-control input-lg" ng-click="updateAccount()">Update</button>
	</div>
</form>
