<h1>{{organization.name}}</h1>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tournaments ({{tournaments.length}})</h3>
			</div>
			<div class="list-group">
				<a class="list-group-item" ng-repeat="tournament in tournaments|orderBy:'date'" href="/tournament/{{tournament.id}}/dashboard">{{tournament.name}} <small class="text-muted">{{tournament.date|date:'MMM d, yyyy'}}</small> <span class="close pull-right" ng-click="removeTournament($event, tournament)">&times;</span></a>
			</div>
			<div class="panel-footer clearfix">
				<button class="btn btn-default pull-right" ng-click="addTournament()">Create New Tournament</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Members ({{admins.length}})</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="admin in admins">
					{{admin.username}} ({{admin.email}})
					<span class="close" ng-click="removeAdmin(admin)">&times;</span></li>
			</ul>
			<div class="panel-footer clearfix">
				<div class="input-group" ng-show="newAdmin.active">
					<input type="text" class="form-control" ng-model="newAdmin.username" />
					<span class="input-group-btn">
						<button class="btn btn-default" ng-click="newAdmin.submit()">Add</button>
					</span>
				</div>
				<button class="btn btn-default pull-right" ng-click="newAdmin.active = true" ng-hide="newAdmin.active">Add Member</button>
			</div>
		</div>
	</div>
</div>