<h1>{{organization.name}}</h1>
<div class="row">
	<div class="col-md-6">
		<h3>Tournaments ({{tournaments.length}})</h3>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="tournament in tournaments|orderBy:'date'" href="/tournament/{{tournament.id}}/dashboard">{{tournament.name}} <span class="text-muted pull-right">{{tournament.date|date:'MMM d, yyyy'}}</span></a>
		</div>
		<button class="btn btn-default pull-right" ng-click="addTournament()">Create New Tournament</button>
	</div>
	<div class="col-md-6">
		<h3>Members ({{admins.length}})</h3>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="admin in admins">
				{{admin.username}} ({{admin.email}})
				<span class="close" ng-click="removeAdmin(admin)">&times;</span></li>
		</ul>
		<div>
			<div class="input-group" ng-show="newAdmin.active">
				<input type="text" class="form-control" ng-model="newAdmin.username" />
				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="newAdmin.submit()">Add</button>
				</span>
			</div>
			<button class="btn btn-default pull-right" ng-click="newAdmin.active = true" ng-hide="newAdmin.active">Add Member</button>
		</div>
	</div>
</div>