<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Update Team</h3>
		</div>
		<div class="modal-body">
			<form class="team-form">
				<div class="form-group">
					<label for="new-team-name">Team Name:</label>
					<input id="new-team-name" type="text" ng-model="editTeam.name" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="new-team-school">School:</label>
					<input id="new-team-school" type="text" ng-model="editTeam.school" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="new-team-state">State:</label>
					<select id="new-team-state" type="text" ng-model="editTeam.state" class="form-control" ng-options="s for s in states"/>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="updateTeam()">Okay</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>