<div ng-controller="TeamListingCtrl">
	<h2>Teams ({{teams.length}})</h2>
	<div class="list-group">
		<div ng-repeat="t in teams">
			<a href="#" class="list-group-item" ng-click="switchExpanded(t)">
				{{t.name}}
			</a>
			<div class="list-group-item" ng-show="t.show">
				<small>
					<table class="table table-condensed">
						<tr>
							<th>Division</th>
							<th>Number</th>
							<th>School</th>
							<th>State</th>
						</tr>
						<tr>
							<td>{{t.division}}</td>
							<td>{{t.number}}</td>
							<td>{{t.school}}</td>
							<td>{{t.state}}</td>
						</tr>
					</table>
					<button class="btn btn-default btn-xs" ng-click="editTeamWindow(t)">Edit</button> 
					<button class="btn btn-danger btn-xs" ng-click="removeTeam(t)">Remove</button>
				</small>
			</div>
		</div>
	</div>		
	<div>
		<button class="btn btn-default pull-right" ng-click="addTeam()">Add New Team</button>
	</div>
</div>