<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Add Team to Tournament {{form.tournamentID}}</h3>
		</div>
		<div class="modal-body">
			<form class="team-form">
				<div class="form-group">
					<label for="new-team-name">Team Name:</label>
					<input id="new-team-name" type="text" ng-model="form.teamName" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="new-team-number">Team Number:</label>
					<input id="new-team-number" type="number" ng-model="form.teamNumber" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="new-team-division">Division:</label>
					<select id="new-team-division" type="text" ng-model="form.division" class="form-control" ng-options="d for d in divisions"/>
				</div>
				<div class="form-group">
					<label for="new-team-school">School:</label>
					<input id="new-team-school" type="text" ng-model="form.school" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="new-team-state">State:</label>
					<select id="new-team-state" type="text" ng-model="form.state" class="form-control" ng-options="s for s in states"/>
				</div>
				<div class="form-group">
					<label for="new-team-coach">Coaches:</label>
					<div class="list-group">
						<div class="list-group-item" ng-repeat="c in coaches">
							{{c.name}}
							<button class="close pull-right" aria-hidden="true" ng-click="removeCoach(c)">&times;</button>
						</div>
					</div>
					<div class="input-group">
						<input id="new-team-coach" type="text" ng-model="form.coach" class="form-control" list="coaches"/>
				        <span class="input-group-btn">
				        	<button class="btn btn-default" type="button" ng-click="checkCoach()">Add</button>
				        </span>
					</div>
					<datalist id="coaches" >
						<option ng-repeat="o in officials">{{o.name}}</option>
					</datalist>
				</div>
			</form>
		</div>
		<div ng-show="errorMessage">
			<div class="animated alert" ng-class="alert-danger" animation-show-hide="errorMessage" show-animation="flipInX" hide-animation="flipOutX">
				<div class="panel-danger">
					<div class="panel-heading">{{errorMessage}}</div>
				</div>
			</div>
		</div>
		<div class="modal-footer" ng-show="badCoach">
			<button class="btn btn-primary" ng-click="cancel('/official/new')">New Official</button>
			<button class="btn btn-primary" ng-click="cancel('/official/lookup')">Go to Official Lookup</button>
			<button class="btn btn-default" ng-click="removeCoach()">Cancel</button>
			
		</div>
		<div class="modal-footer" ng-show="!badCoach">
			<button class="btn btn-primary" ng-click="checkCoach()">Add Team</button>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>