<h3>Create an Event</h3>
<form class="event-form">
	<div class="form-group">
		<label for="new-event-division">Division</label>
		<select id="new-event-division" ng-model="form.division" ng-options="d.value for d in divisions" class="form-control"></select>
	</div>

	<div class="form-group">
		<label for="new-event-name">Event Name</label>
		<input id="new-event-name" type="text" ng-model="form.name" class="form-control" />
	</div>

	<div class="form-group">
		<button class="btn btn-primary" data-ng-click="create()">Create</button>
	</div>
</form>